<%# unit 5 - login success page html %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<%# title %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<p class="loginsuccessmessage">Success! you have logged in.</p>

<h2>Welcome back <%= session.userName %>!</h2>
<!-- Link leads to new "update" page -->
<a href="account/update/<%= accountData.account_id %>">Account Update</a>

<% if (session.accountType === 'Employee' || session.accountType === 'Admin') { %>
    <h3>Inventory Management</h3>
    <p><a href="/inv">Inventory Management</a></p>
<% } %>

<% if (session.accountType === 'Client') { %>
  <br>
  <br>
  <h3>Membership Signup</h3>
  <a href="account/membership/<%= accountData.account_id %>">Sign up as a member today!</a>
<% } %>